@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Intro
7. Milestones
8. Pricing
9. Logos
10. CTA
11. Footer


******************************/

/***********
1. Fonts
***********/

/*********************************
2. Body and some general stuff
*********************************/

/*********************************
3. Header
*********************************/

/*********************************
4. Menu
*********************************/

/*********************************
5. Home
*********************************/

.home {
  height: 511px;
}
.home_container {
  position: absolute;
  top: 59.85%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0px;
  width: 100%;
}
.home_content {
}
.home_title h1 {
  font-size: 90px;
  font-weight: 700;
  color: #ffffff;
  font-style: italic;
  line-height: 0.75;
}
.breadcrumbs {
  display: inline-block;
  background: #0b8643;
  height: 38px;
  padding-left: 23px;
  padding-right: 25px;
  margin-top: 21px;
}
.breadcrumbs ul {
  height: 100%;
}
.breadcrumbs ul li {
  position: relative;
}
.breadcrumbs ul li,
.breadcrumbs ul li a,
.breadcrumbs ul li::after {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
.breadcrumbs ul li a:hover {
  color: #ce8e00;
}
.breadcrumbs ul li:not(:last-of-type)::after {
  display: inline-block;
  content: "/";
  margin-left: 4px;
  margin-right: 4px;
}

/*********************************
6. Intro
*********************************/

.intro {
  background: #f5f8fb;
}
.container_wrapper {
  width: 100%;
}
.container_wrapper > .container {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.container_wrapper > .container > .row {
  margin-left: 0;
  margin-right: 0;
}
.container_wrapper > .container > .row > div[class^="col"] {
  padding-left: 0;
  padding-right: 0;
}
.intro_image {
  height: 100%;
}
.intro_image > img {
  display: none;
}
.intro_left_content {
  padding-left: 190px;
  padding-top: 98px;
  padding-bottom: 109px;
  padding-right: 200px;
}
.intro_title h1 {
  line-height: 1;
}
.intro_text {
  margin-top: 27px;
}
.intro_button {
  margin-top: 41px;
}
.intro_right_content {
  padding-top: 149px;
  padding-left: 205px;
  padding-bottom: 143px;
  padding-right: 190px;
}



/*********************************
10. CTA
*********************************/

/*********************************
11. Footer
*********************************/
