@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Intro
7. Milestones
8. Pricing
9. Logos
10. CTA
11. Footer


******************************/

/***********
1. Fonts
***********/

/*********************************
2. Body and some general stuff
*********************************/

/*********************************
3. Header
*********************************/

/*********************************
4. Menu
*********************************/

/*********************************
5. Home
*********************************/

.home {
  height: 511px;
}
.home_container {
  position: absolute;
  top: 59.85%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0px;
  width: 100%;
}
.home_content {
}
.home_title h1 {
  font-size: 90px;
  font-weight: 700;
  color: #ffffff;
  font-style: italic;
  line-height: 0.75;
}
.breadcrumbs {
  display: inline-block;
  background: #0b8643;
  height: 38px;
  padding-left: 23px;
  padding-right: 25px;
  margin-top: 21px;
}
.breadcrumbs ul {
  height: 100%;
}
.breadcrumbs ul li {
  position: relative;
}
.breadcrumbs ul li,
.breadcrumbs ul li a,
.breadcrumbs ul li::after {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
.breadcrumbs ul li a:hover {
  color: #ce8e00;
}
.breadcrumbs ul li:not(:last-of-type)::after {
  display: inline-block;
  content: "/";
  margin-left: 4px;
  margin-right: 4px;
}

/*********************************
6. Intro
*********************************/

.intro {
  background: #f5f8fb;
}
.container_wrapper {
  width: 100%;
}
.container_wrapper > .container {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.container_wrapper > .container > .row {
  margin-left: 0;
  margin-right: 0;
}
.container_wrapper > .container > .row > div[class^="col"] {
  padding-left: 0;
  padding-right: 0;
}
.intro_image {
  height: 100%;
}
.intro_image > img {
  display: none;
}
.intro_left_content {
  padding-left: 190px;
  padding-top: 98px;
  padding-bottom: 109px;
  padding-right: 200px;
}
.intro_title h1 {
  line-height: 1;
}
.intro_text {
  margin-top: 27px;
}
.intro_button {
  margin-top: 41px;
}
.intro_right_content {
  padding-top: 149px;
  padding-left: 205px;
  padding-bottom: 143px;
  padding-right: 190px;
}

/*********************************
7. Milestones
*********************************/

.milestones {
  background: #ffffff;
  padding-top: 102px;
  padding-bottom: 25px;
}
.milestone {
  width: 100%;
  margin-bottom: 60px;
  padding-left: 22px;
}
.milestone_icon {
  display: inline-block;
  height: 62px;
  width: 62px;
}
.milestone_icon img {
  max-width: 100%;
  max-height: 100%;
}
.milestone_content {
  padding-left: 18px;
}
.milestone_counter {
  font-size: 60px;
  font-weight: 700;
  color: #15487b;
  line-height: 0.75;
}
.milestone_text {
  font-size: 18px;
  font-weight: 700;
  color: #15487b;
  margin-top: 11px;
  line-height: 1.2;
}

/*********************************
8. Pricing
*********************************/

.pricing {
  background: #ffffff;
  padding-bottom: 47px;
}
.pricing_row {
  margin-top: 90px;
}
.pricing_row > div[class^="col"] {
  margin-bottom: 40px;
}
.pricing_item {
  height: 100%;
  background: #15487b;
  padding-top: 51px;
  padding-bottom: 162px;
  padding-left: 25px;
  padding-right: 25px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.pricing_item:hover {
  background: #0b8643;
  box-shadow: 0px 30px 43px rgba(0, 0, 0, 0.44);
}
.pricing_icon {
  width: 103px;
  height: 103px;
  margin-left: auto;
  margin-right: auto;
}
.pricing_icon > img {
  max-height: 100%;
}
.pricing_title {
  margin-top: 21px;
}
.pricing_title h3 {
  color: #ffffff;
}
.pricing_price {
  font-size: 72px;
  color: #ce8e00;
  font-weight: 900;
  margin-top: 29px;
  line-height: 1;
}
.pricing_price span {
  font-size: 18px;
  color: #ffffff;
}
.pricing_text {
  margin-top: 7px;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.24);
}
.pricing_list {
  margin-top: 54px;
}
.pricing_list ul li {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}
.pricing_list ul li:not(:last-of-type) {
  margin-bottom: 13px;
}
.pricing_button {
  position: absolute;
  bottom: 52px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.pricing_item:hover .pricing_button {
  background: #15487b;
}

/*********************************
9. Logos
*********************************/

.logos {
  background: #ffffff;
  padding-bottom: 87px;
}
.logos_text {
  margin-top: 38px;
}
.logos_slider_container {
  margin-top: 54px;
}
.logos_slider .slide {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 76px;
}
.owl-carousel.logos_slider .owl-item img {
  width: auto;
}

/*********************************
10. CTA
*********************************/

/*********************************
11. Footer
*********************************/
