.cta {
  padding-top: 81px;
  padding-bottom: 73px;

}
.cta_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background: rgb(11, 134, 67, 0.9);*/
  background: #333333;
}
.cta_title h1 {
  color: #d6e0e6;
}
.cta_text {
  margin-top: 18px;
}
.cta_text p {
  font-size: 18px;
  color: #d6e0e6;
}
.cta_button {
  margin-top: 23px;
}
