/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Intro
7. Milestones
8. Pricing
9. Logos
10. CTA
11. Footer


******************************/

/***********
1. Fonts
***********/
  
  /*********************************
  3. Header
  *********************************/
  
  /*********************************
  4. Menu
  *********************************/
  
  /*********************************
  5. Home
  *********************************/
  
  .home {
  
  }
  .home_container {
    position: absolute;
    top: 59.85%;
    transform: translateY(-50%);
    left: 0px;
    width: 100%;
  }
  .home_content {
  }
  .home_title h1 {
    font-size: 90px;
    font-weight: 700;
    color: #000000;
    font-style: italic;
    line-height: 0.75;
  }
  .breadcrumbs {
    display: inline-block;
    background: #0b8643;
    height: 38px;
    padding-left: 23px;
    padding-right: 25px;
    margin-top: 21px;
  }
  .breadcrumbs ul {
    height: 100%;
  }
  .breadcrumbs ul li {
    position: relative;
  }
  .breadcrumbs ul li,
  .breadcrumbs ul li a,
  .breadcrumbs ul li::after {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
  }
  .breadcrumbs ul li a:hover {
    color: #ce8e00;
  }
  .breadcrumbs ul li:not(:last-of-type)::after {
    display: inline-block;
    content: "/";
    margin-left: 4px;
    margin-right: 4px;
  }
  .form{
  /* background-color: green; */
  padding: 180px 0px;
  /* width: 100%; */
  /* overflow-y: hidden; */
  }

  .form iframe {
    }
  .intro{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(33, 116, 36) 100%);
  }

