@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header (transfered to seperate file)
4. Menu (transfered to seperate file)
5. Home
6. Schedule
7. CTA
8. Footer (transfered to seperate file)


******************************/

/***********
1. Fonts
***********/

/*********************************
2. Body and some general stuff
*********************************/


/*********************************
3. Header
*********************************/

/*********************************
4. Menu
*********************************/

/*********************************
5. Home
*********************************/

.home {
  height: 511px;
}
.home_container {
  position: absolute;
  top: 59.85%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0px;
  width: 100%;
}
.home_content {
}
.home_title h1 {
  font-size: 90px;
  font-weight: 700;
  color: #ffffff;
  font-style: italic;
  line-height: 0.75;
}
.breadcrumbs {
  display: inline-block;
  background: #0b8643;
  height: 38px;
  padding-left: 23px;
  padding-right: 25px;
  margin-top: 21px;
}
.breadcrumbs ul {
  height: 100%;
}
.breadcrumbs ul li {
  position: relative;
}
.breadcrumbs ul li,
.breadcrumbs ul li a,
.breadcrumbs ul li::after {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
.breadcrumbs ul li a:hover {
  color: #ce8e00;
}
.breadcrumbs ul li:not(:last-of-type)::after {
  display: inline-block;
  content: "/";
  margin-left: 4px;
  margin-right: 4px;
}

/*********************************
6. Schedule
*********************************/

.schedule {
  padding-top: 103px;
  padding-bottom: 136px;
  background: #ffffff;
}
.schedule_container {
  border: solid 1px #cbd6e1;
  padding-bottom: 99px;
}
.schedule_container::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 114px;
  background: #f5f8fb;
  content: "";
}
.tab {
  width: 25%;
  height: 113px;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}
.tab span {
  font-size: 16px;
  font-weight: 400;
  margin-left: 8px;
}
.tab:first-child {
  background: #0b8643;
}
.tab:nth-child(2) {
  background: #ce8e00;
}
.tab:nth-child(3) {
  background: #b400ff;
}
.tab:nth-child(4) {
  background: #ffcc00;
}
.tab_panel {
  display: none !important;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  padding-top: 45px;
  padding-left: 24px;
  padding-right: 55px;
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tab_panel.active {
  display: block !important;
}
.schedule_item:not(:last-child) {
  margin-bottom: 41px;
}
.schedule_image {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 7px;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}
.schedule_content {
  padding-left: 60px;
}
.schedule_time {
  font-size: 14px;
  font-weight: 700;
  color: #0b8643;
}
.schedule_title {
  font-size: 24px;
  font-weight: 700;
  color: #15487b;
  margin-top: 2px;
}
.schedule_info {
  font-size: 15px;
  font-weight: 400;
  color: #68727c;
  margin-top: 6px;
}
.schedule_info a {
  color: #0b8643;
  margin-left: 3px;
}
.schedule_info a:hover {
  color: #ce8e00;
}
.schedule_button {
  margin-bottom: 7px;
}
.schedule_text {
  padding-left: 125px;
  margin-top: 35px;
}
.schedule_text_title {
  display: inline-block;
  position: relative;
  font-size: 20px;
  font-weight: 700;
  color: #68727c;
  line-height: 1;
}
.schedule_text_title::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #68727c;
  content: "";
}
.schedule_text > p:first-of-type {
  margin-top: 8px;
}
.scroll_up {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -32px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #0b8643;
  line-height: 64px;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.scroll_up:hover {
  background: #15487b;
}

/*********************************
7. CTA
*********************************/

/*********************************
8. Footer
*********************************/
