.teams {
  background: #ffffff;
  padding-top: 101px;
  padding-bottom: 103px;
}
.teams_row {
  margin-top: 58px;

}
.team {
  margin-bottom: 27px; 
  /* margin: 20px 10px; */

}
.team_image{
}

.team_image::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border: solid 1px #0b8643;
  background: rgb(11, 134, 67, 0.67);
  visibility: hidden;
  opacity: 0;
  transition: all 400ms ease;
}
.team:hover .team_image::after {
  visibility: visible;
  opacity: 0;
}
.team_info {
  position: absolute;
  /*left: 22px;*/
  bottom: 10px;
  width: 100%;
  height: 67px;
  background: rgba(73, 73, 73, 0);
  opacity: 1; 
  padding: 0.5rem 1.25rem;
  transition: all 500ms ease;
}
.team:hover .team_info {
  background: #000000;
  opacity: 0.85;
}

.team:hover .team_social a {
  opacity: 1;
}

.team_name a {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.2;
}
.team_name a:hover {
  color: #0b8643;
}
.team_title {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.2;
  margin-top: 3px;
}
.team_social {
  display: grid;
  grid-auto-flow: column dense;
  gap: 0.5rem;
}

.team_social a {
  font-size: 1.3rem;
  color: #0b8643;
  opacity: 0;
  /* padding: 0.5rem; */
  padding: 1.5rem 0.5rem;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.spacer {
  flex: 1;
}
